/*moje*/

form{
    background-color: blanchedalmond;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}
h1{
    text-align: center;
}
a{
    text-align: center;
    font-style: italic;
    margin: auto;
}